USE [master]
GO
/****** Объект:  Database [gb_de1]    Дата создания скрипта: 06.09.2026 2:23:59 ******/ 
CREATE DATABASE [gb_de1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gb_de1', FILENAME = N'C:\Users\lel07\gb_de1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gb_de1_log', FILENAME = N'C:\Users\lel07\gb_de1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gb_de1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gb_de1]
GO
/****** Объект:  Table [dbo].[Cities]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[MaterialTypes]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialType] [nvarchar](255) NULL,
	[DefectRate] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PartnerProducts]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[PartnerId] [int] NOT NULL,
	[ProductCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Partners]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartnershipId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[DirectorLN] [nvarchar](255) NULL,
	[DirectorFN] [nvarchar](255) NULL,
	[DirectorMN] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](35) NULL,
	[RegisterAddressIndex] [nvarchar](50) NULL,
	[RegionId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[RegisterAddressStreet] [nvarchar](255) NULL,
	[RegisterAddressHouse] [nvarchar](10) NULL,
	[INN] [nvarchar](30) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PartnershipTypes]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnershipTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[ItemNumber] [int] NULL,
	[MinimalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductTypes]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NULL,
	[TypeCoef] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Regions]    Дата создания скрипта: 06.09.2026 2:24:00 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (1, N'город Одинцово')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (2, N'город Обоянь')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (3, N'город Светлый')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialTypes] ON 

INSERT [dbo].[MaterialTypes] ([Id], [MaterialType], [DefectRate]) VALUES (1, N'Тип материала 1', NULL)
INSERT [dbo].[MaterialTypes] ([Id], [MaterialType], [DefectRate]) VALUES (2, N'Тип материала 2', NULL)
INSERT [dbo].[MaterialTypes] ([Id], [MaterialType], [DefectRate]) VALUES (3, N'Тип материала 3', NULL)
SET IDENTITY_INSERT [dbo].[MaterialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerProducts] ON 

INSERT [dbo].[PartnerProducts] ([Id], [ProductId], [PartnerId], [ProductCount]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[PartnerProducts] ([Id], [ProductId], [PartnerId], [ProductCount]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[PartnerProducts] ([Id], [ProductId], [PartnerId], [ProductCount]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[PartnerProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([Id], [PartnershipId], [Name], [DirectorLN], [DirectorFN], [DirectorMN], [Email], [Phone], [RegisterAddressIndex], [RegionId], [CityId], [RegisterAddressStreet], [RegisterAddressHouse], [INN], [Rating]) VALUES (1, 1, N'Стройдвор', N'Андреева', N'Ангелина', N'Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001', 1, 1, N' уд. Ленина', N'21', N'9432455179', 5)
INSERT [dbo].[Partners] ([Id], [PartnershipId], [Name], [DirectorLN], [DirectorFN], [DirectorMN], [Email], [Phone], [RegisterAddressIndex], [RegionId], [CityId], [RegisterAddressStreet], [RegisterAddressHouse], [INN], [Rating]) VALUES (2, 1, N'Самоделка', N'Мельников', N'Максим', N'Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230', 2, 2, N' ул. 1 Мая', N'89', N'7803888520', 3)
INSERT [dbo].[Partners] ([Id], [PartnershipId], [Name], [DirectorLN], [DirectorFN], [DirectorMN], [Email], [Phone], [RegisterAddressIndex], [RegionId], [CityId], [RegisterAddressStreet], [RegisterAddressHouse], [INN], [Rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев', N'Алексей', N'Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340', 3, 3, N' ул. Морская', N'12', N'8430391035', 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnershipTypes] ON 

INSERT [dbo].[PartnershipTypes] ([Id], [TypeName]) VALUES (1, N'ЗАО')
INSERT [dbo].[PartnershipTypes] ([Id], [TypeName]) VALUES (2, N'ООО')
INSERT [dbo].[PartnershipTypes] ([Id], [TypeName]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[PartnershipTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductTypeId], [ProductName], [ItemNumber], [MinimalPrice]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, CAST(5100.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [ProductTypeId], [ProductName], [ItemNumber], [MinimalPrice]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, CAST(1880.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [ProductTypeId], [ProductName], [ItemNumber], [MinimalPrice]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, CAST(2080.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([Id], [TypeName], [TypeCoef]) VALUES (1, N'Древесно-плитные материалы', CAST(1.50 AS Decimal(5, 2)))
INSERT [dbo].[ProductTypes] ([Id], [TypeName], [TypeCoef]) VALUES (2, N'Декоративные панели', CAST(3.50 AS Decimal(5, 2)))
INSERT [dbo].[ProductTypes] ([Id], [TypeName], [TypeCoef]) VALUES (3, N'Плитка', CAST(5.25 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [RegionName]) VALUES (1, N'Московская область')
INSERT [dbo].[Regions] ([Id], [RegionName]) VALUES (2, N'Курская область')
INSERT [dbo].[Regions] ([Id], [RegionName]) VALUES (3, N'Калининградская область')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([Id])
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD FOREIGN KEY([PartnershipId])
REFERENCES [dbo].[PartnershipTypes] ([Id])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductTypes] ([Id])
GO
USE [master]
GO
